.bxr-recall-link.open-answer-form.simple-call-link {
    float: none;
    top: initial;
    margin: 0;
    color: #20b2aa;
    text-decoration: none;
}

.bxr-ribbon-marker-vertical .bxr-marker-discount ~ .bxr-marker-sale {
	display: none;
}