.bxr-classic_hover_menu {
    position: relative;
    z-index: 1016;
    font-size: 14px;
    width: auto;
    border: 1px solid #f6f6f6;
}

.bxr-classic_hover_menu ul {
    float: left;
    top: 0px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    background-color: #fff;
    width: auto;
}

.bxr-classic_hover_menu ul ul {
    display: none;
    top: -1px;
    left: 100%;
    position: absolute;
    border: 1px solid #f6f6f6;
    min-width: 200px;
}

.bxr-classic_hover_menu ul li {
    cursor: pointer;
    position: relative;
    width: 100%;
    border-top: 1px solid #f6f6f6;
}

.bxr-classic_hover_menu ul li:first-child {
    border-top: none;
}

.bxr-classic_hover_menu ul li a {
    white-space: nowrap;
    padding: 14px 25px 13px 15px;
    margin-right: 33px;
    display: block;
    text-decoration: none;
}

.bxr-classic_hover_menu ul li a:hover {
    text-decoration: none;
}

.bxr-classic_hover_menu ul li .glyphicon
,.bxr-classic_hover_menu ul li .fa{
    padding-right: 10px;
    top: 2px;
}

.bxr-classic_hover_menu .bxr-ico-menu{
    float: left;
    width: 16px;
    margin-right: 15px;
    margin-top: 1px;
    opacity: 0.7;
}

.bxr-classic_hover_menu .hover-not-ico {
    width: 16px;
    margin-right: 15px;
    display: block;
    float: left;
}

.bxr-classic_hover_menu ul li .glyphicon.glyphicon-chevron-right {
    padding-right: 0px;
    right: 10px;
    position: absolute;
    margin: auto;
    top: 50%;
    margin-top: -5px;
    font-size: 10px;
    color: #747474;
}

.bxr-classic_hover_menu ul li .fa.fa-angle-right {
    padding-right: 0px;
    right: 10px;
    position: absolute;
    margin: auto;
    top: 50%;
    margin-top: -8px;
    font-size: 16px;
    color: #747474;
}

.bxr-classic_hover_menu ul > li:hover > ul {
    display: block;
    -webkit-animation:submenu_view 400ms;
    animation:submenu_view 400ms;
}

.bxr-classic_hover_menu .bxr-bg-hover-light:hover > a{
    color: #FFF;
}

.bxr-classic_hover_menu ul li > a  {
    color: #414141;
}

.bxr-classic_hover_menu .bxr-color-flat > a
,.bxr-classic_hover_menu .bxr-color-flat > a > .glyphicon.glyphicon-chevron-right
,.bxr-classic_hover_menu .bxr-color-flat > a > .fa.fa-angle-right
,.bxr-classic_hover_menu .bxr-color-dark-flat > a
,.bxr-classic_hover_menu .bxr-color-dark-flat > a > .glyphicon.glyphicon-chevron-right
,.bxr-classic_hover_menu .bxr-color-dark-flat > a > .fa.fa-angle-right
{
    color: #fff;
}

.bxr-classic_hover_menu ul li:hover > a
,.bxr-classic_hover_menu ul li:hover > a > .glyphicon
,.bxr-classic_hover_menu ul li:hover > a > .fa
{
    color: #fff;
}

.bxr-classic_hover_menu .bxr-color-light-flat > a img
,.bxr-classic_hover_menu .bxr-color-dark-flat > a img
,.bxr-classic_hover_menu .bxr-color-flat > a img
,.bxr-classic_hover_menu .bxr-bg-hover-flat:hover > a img
,.bxr-classic_hover_menu .bxr-bg-hover-light-flat:hover > a img
,.bxr-classic_hover_menu .bxr-bg-hover-dark-flat:hover > a img
{
    filter:  brightness(0) invert(100%);
    -webkit-filter: brightness(0) invert(100%);
    -moz-filter: brightness(0) invert(100%);
    -o-filter: brightness(0) invert(100%);
    -ms-filter: brightness(0) invert(100%);
}

.bxr-classic_hover_menu.menu-arrow-top {
    border-top: 4px solid #ccc;
}

.bxr-classic_hover_menu.menu-arrow-top:before {
    content: '';
    position: absolute;
    left: 48px;
    top: -14px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #CCC;
}
