/* catalog.section */
.bx_item_list_gift_horizontal{
    margin-bottom:20px;
    border-bottom:1px solid #e5e5e5;
}
@media (max-width:640px) {.bx_item_list_gift_horizontal {border-bottom:1px solid #e5e5e5;}}

.bx_item_list_gift_horizontal .bxr-ecommerce-gift {
    position:relative;
    float:left;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    background:#fff;
    margin-bottom:30px;
}

.popup-window-buttons .bx_item_list_gift_horizontal {
    border: none !important;
}

@media (min-width:960px){
    .bx_item_list_gift_horizontal.col1 .bxr-ecommerce-gift {padding:1px 26px;margin:0 0 30px 0   ;width:100%}

    .bx_item_list_gift_horizontal.col2 .bxr-ecommerce-gift {padding:1px 26px;margin:0 1% 30px;width:48%}
    .bx_item_list_gift_horizontal.col2 .bxr-ecommerce-gift:nth-child(2n+1){clear:both}

    .bx_item_list_gift_horizontal.col3 .bxr-ecommerce-gift {padding:1px 26px;margin:0 1% 30px;width:31.333333%}
    .bx_item_list_gift_horizontal.col3 .bxr-ecommerce-gift:nth-child(3n+1){clear:both}

    .bx_item_list_gift_horizontal.col4 .bxr-ecommerce-gift {padding:1px 26px;margin:0 1% 30px;width:23%}
    .bx_item_list_gift_horizontal.col4 .bxr-ecommerce-gift:nth-child(4n+1){clear:both}

    .bx_item_list_gift_horizontal.col5 .bxr-ecommerce-gift {padding:1px 26px;margin:0 1% 30px;width:18%}
    .bx_item_list_gift_horizontal.col5 .bxr-ecommerce-gift:nth-child(5n+1){clear:both}
}

@media (min-width:760px) and (max-width:960px){
    .bx_item_list_gift_horizontal.col1 .bxr-ecommerce-gift {padding:1px 16px;margin:0 0 0 30px;width:100%}

    .bx_item_list_gift_horizontal.col2 .bxr-ecommerce-gift {padding:1px 16px;margin:0 1% 30px;width:48%}
    .bx_item_list_gift_horizontal.col2 .bxr-ecommerce-gift:nth-child(2n+1){clear:both}

    .bx_item_list_gift_horizontal.col3 .bxr-ecommerce-gift {padding:1px 16px;margin:0 1% 30px;width:31.333333%}
    .bx_item_list_gift_horizontal.col3 .bxr-ecommerce-gift:nth-child(3n+1){clear:both}

    .bx_item_list_gift_horizontal.col4 .bxr-ecommerce-gift,
    .bx_item_list_gift_horizontal.col5 .bxr-ecommerce-gift {padding:1px 16px;margin:0 1% 30px;width:23%}
    .bx_item_list_gift_horizontal.col4 .bxr-ecommerce-gift:nth-child(4n+1),
    .bx_item_list_gift_horizontal.col5 .bxr-ecommerce-gift:nth-child(4n+1){clear:both}
}
@media (max-width:760px){
    .bx_item_list_gift_horizontal.col1 .bxr-ecommerce-gift {padding:1px 16px;margin:0 0 0 30px  ;width:100%}

    .bx_item_list_gift_horizontal.col2 .bxr-ecommerce-gift {padding:1px 16px;margin:0 1% 30px;width:48%}
    .bx_item_list_gift_horizontal.col2 .bxr-ecommerce-gift:nth-child(2n+1){clear:both}

    .bx_item_list_gift_horizontal.col3 .bxr-ecommerce-gift {padding:1px 16px;margin:0 1% 30px;width:31.333333%}
    .bx_item_list_gift_horizontal.col3 .bxr-ecommerce-gift:nth-child(3n+1){clear:both}

    .bx_item_list_gift_horizontal.col3 .bxr-ecommerce-gift,
    .bx_item_list_gift_horizontal.col4 .bxr-ecommerce-gift,
    .bx_item_list_gift_horizontal.col5 .bxr-ecommerce-gift {padding:1px 16px;margin:0 1% 30px;width:31.333333%}
    .bx_item_list_gift_horizontal.col3 .bxr-ecommerce-gift:nth-child(3n+1),
    .bx_item_list_gift_horizontal.col4 .bxr-ecommerce-gift:nth-child(3n+1),
    .bx_item_list_gift_horizontal.col5 .bxr-ecommerce-gift:nth-child(3n+1){clear:both}
}
@media (max-width:580px){
    .bx-touch .bx_item_list_gift_horizontal.col1 .bxr-ecommerce-gift {padding:1px 26px;margin:0 0 0 30px ;width:100%}

    .bx-touch .bx_item_list_gift_horizontal.col2 .bxr-ecommerce-gift {padding:1px 16px;margin:0 1% 30px;width:48%}
    .bx-touch .bx_item_list_gift_horizontal.col2 .bxr-ecommerce-gift:nth-child(3n+1){clear:none}
    .bx-touch .bx_item_list_gift_horizontal.col2 .bxr-ecommerce-gift:nth-child(2n+1){clear:both}

    .bx-touch .bx_item_list_gift_horizontal.col2 .bxr-ecommerce-gift,
    .bx-touch .bx_item_list_gift_horizontal.col3 .bxr-ecommerce-gift,
    .bx-touch .bx_item_list_gift_horizontal.col4 .bxr-ecommerce-gift,
    .bx-touch .bx_item_list_gift_horizontal.col5 .bxr-ecommerce-gift {padding:1px 16px;margin:0 1% 30px;width:48%;clear:none}

    .bx-touch .bx_item_list_gift_horizontal.col2 .bxr-ecommerce-gift:nth-child(2n+1),
    .bx-touch .bx_item_list_gift_horizontal.col3 .bxr-ecommerce-gift:nth-child(2n+1),
    .bx-touch .bx_item_list_gift_horizontal.col4 .bxr-ecommerce-gift:nth-child(2n+1),
    .bx-touch .bx_item_list_gift_horizontal.col5 .bxr-ecommerce-gift:nth-child(2n+1){clear:both}
}

.bx-no-touch .bx_item_list_gift_horizontal .bxr-ecommerce-gift:hover .bxr-element-container {
    position:absolute;
    z-index:990;
    top:0;
    left:0;
    right:0;
    border-radius:3px;
    background:#fff;
}
@media (min-width:960px){.bx-no-touch  .bx_item_list_gift_horizontal .bxr-ecommerce-gift:hover .bxr-element-container{padding:0 25px 15px}}
@media (max-width:960px){.bx-no-touch  .bx_item_list_gift_horizontal .bxr-ecommerce-gift:hover .bxr-element-container{padding:0 15px 15px}}

.bx_item_list_gift_horizontal .bx_catalog_item_articul{
    color:#a5a5a5;
    font-size:13px;
}
.bx_item_list_gift_horizontal .bx_catalog_item_title{
    height:38px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}
.bx-no-touch .bx_item_list_gift_horizontal .bxr-ecommerce-gift:hover .bx_catalog_item_title{
    overflow:auto;
    height:auto !important;
    white-space: normal;
}
.bx_item_list_gift_horizontal .bx_catalog_item_title a{
    text-decoration:none;
    font-size:13px;
}
.bx_item_list_gift_horizontal .bx_catalog_item_price{
    color:#3f3f3f;
    font-weight:bold;
}
.bx_item_list_gift_horizontal .bx_catalog_item_price span{
    color:#a5a5a5;
    font-size:12px;
    font-weight:normal;
    white-space:nowrap;
    text-decoration:line-through;
}
.bx_item_list_gift_horizontal .bx_catalog_item_controls{
    padding-top:10px;
    text-align:center;
    opacity:0;
}
@media (min-width:641px) and (max-width:960px){.bx_item_list_gift_horizontal .bx_catalog_item_controls{height:auto}}
@media (max-width:640px){.bx-touch .bx_item_list_gift_horizontal .bx_catalog_item_controls{height:auto;line-height:30px;text-align:center}}
@media (max-width:479px){.bx-touch .bx_item_list_gift_horizontal .bx_catalog_item_controls{height:auto;line-height:30px;display:block}}
@media (max-width:479px){.bx-touch .bx_item_list_gift_horizontal .bxr-ecommerce-gift:hover .bx_catalog_item_controls {height:auto}}

.bx_item_list_gift_horizontal .bx_catalog_item_controls .bx_catalog_item_controls_blockone{
    width:100%;
    white-space:nowrap;
    text-align:center;
}
.bx_item_list_gift_horizontal .bx_catalog_item_controls .bx_catalog_item_controls_blockone span{
    color:#3f3f3f;
    font-size:13px;
}
.bx_item_list_gift_horizontal .bx_catalog_item_controls .bx_catalog_item_controls_blockone .bx_notavailable{
    text-align:left;
    font-size:12px;
    line-height:30px;
    font-weight:bold;
}

.bx_item_list_gift_horizontal .bx_catalog_item_controls input[type=text]{border:none;}
.bx-touch .bx_item_list_gift_horizontal .bx_catalog_item_controls,
.bx_item_list_gift_horizontal .bxr-ecommerce-gift:hover .bx_catalog_item_controls{opacity:1}
.bx_item_list_gift_horizontal .bx_cnt_desc{
    text-align:left;
    position:absolute;
    right:-45px;
    top:2px;
    width:40px;
}
@media (min-width:641px) and (max-width:960px){

}
.bx_item_list_gift_horizontal .bx_catalog_item_controls a{
    padding: 8px 21px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
}
.bx_item_list_gift_horizontal .bx_catalog_item_controls a:hover{
    text-decoration: none;
}
.bx_item_list_gift_horizontal .bx_catalog_item_price .bx_price{font-size:15px;padding-top: 5px;}

@keyframes rotateimgfirst {from {opacity:1;} to {opacity:0;}}
@-webkit-keyframes rotateimgfirst {from {opacity:1;} to {opacity:0;}}
@keyframes rotateimglast  {from {opacity:0;} to {opacity:1;}}
@-webkit-keyframes rotateimglast  {from {opacity:0;} to {opacity:1;}}

.bx-no-touch .bx_item_list_gift_horizontal .bxr-ecommerce-gift 	  .bx_catalog_item_controls,
.bx_item_list_gift_horizontal .bxr-ecommerce-gift 	  .bx_catalog_item_articul,
.bx_item_list_gift_horizontal .bxr-ecommerce-gift 	  .bx_catalog_item_scu{display:none}
.bx-no-touch .bx_item_list_gift_horizontal .bxr-ecommerce-gift:hover .bx_catalog_item_controls,
.bx-no-touch .bx_item_list_gift_horizontal .bxr-ecommerce-gift:hover .bx_catalog_item_articul,
.bx-no-touch .bx_item_list_gift_horizontal .bxr-ecommerce-gift:hover .bx_catalog_item_scu{display:block}
.bx_item_list_gift_horizontal .bxr-ecommerce-gift 	  .bx_catalog_item_scu{padding-top:10px}
.bx_item_list_gift_horizontal .bxr-ecommerce-gift:hover .bx_catalog_item_scu>div{margin:0 auto}

.bx-no-touch .bx_item_list_gift_horizontal .bxr-ecommerce-gift .bx_catalog_item_controls.touch,
.bx-touch    .bx_item_list_gift_horizontal .bxr-ecommerce-gift .bx_catalog_item_controls.no_touch{display:none !important;}

/* scu_detail_size */
.bx_item_list_gift_horizontal .bx_item_detail_size{
    position: relative;
    margin-bottom: 10px;
    padding: 0;
    max-width: 100%;
    width: 100%;
}
.bx-no-touch .bx_item_list_gift_horizontal .bx_item_detail_size.full {
    position: relative;
    margin-left: -5%;
    padding: 0 5%;
}

/*----*/

.bx_item_list_gift_horizontal .bx_item_detail_size .bx_item_section_name_gray{
    color: #9e9e9e;
    vertical-align: middle;
    font-size: 13px;
    line-height: 11px;
}

/*----*/

.bx_item_list_gift_horizontal .bx_item_detail_size .bx_size_scroller_container{position: relative}

.bx_item_list_gift_horizontal .bx_item_detail_size .bx_size{
    position: relative;
    margin: 0;
    width: 100%;
}
.bx_item_list_gift_horizontal .bx_item_detail_size ul{
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    white-space: nowrap;
}
.bx-touch 	 .bx_item_list_gift_horizontal .bx_item_detail_size .bx_size{overflow-x: auto;}
.bx_item_list_gift_horizontal .bx_item_detail_size ul{
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    white-space: nowrap;
}
.bx-touch 	.bx_item_list_gift_horizontal .bx_item_detail_size .bx_size ul{margin-left: 0 !important;}
.bx_item_list_gift_horizontal .bx_item_detail_size ul li{
    position: relative;
    display: block;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 25px;
}
.bx_item_list_gift_horizontal .bx_item_detail_size ul li .cnt{
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 2px;
    bottom: 2px;
    left:2px;
    display: block;
    overflow: hidden;
    border: 1px solid #c0cfda;
    background: #fff;

    color: #3f3f3f;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
    font-size: 10px;
    line-height: 22px;
}
.bx-touch	.bx_item_list_gift_horizontal .bx_item_detail_size ul li .cnt{
    border: none;
    border-style: solid;
    border-width: 1px;
    -webkit-border-image: url(images/x2border.png) 2 stretch;
    -moz-border-image: url(images/x2border.png) 2 stretch;
    -o-border-image: url(images/x2border.png) 2 stretch;
    border-image: url(images/x2border.png) 2 fill stretch;
}
.bx_item_list_gift_horizontal .bx_item_detail_size ul li:hover .cnt{border: 1px solid #637382;}
.bx_item_list_gift_horizontal .bx_item_detail_size ul li:active .cnt,
.bx_item_list_gift_horizontal .bx_item_detail_size ul li.bx_active .cnt{
    border: 2px solid #637382;
}
.bx-touch .bx_item_list_gift_horizontal .bx_item_detail_size ul li.bx_active .cnt{
    border: none;
    border-style: solid;
    border-width: 1px;
    -webkit-border-image: url(images/x2border_active.png) 2 stretch;
    -moz-border-image: url(images/x2border_active.png) 2 stretch;
    -o-border-image: url(images/x2border_active.png) 2 stretch;
    border-image: url(images/x2border_active.png) 2 fill stretch;
}

.bx_item_list_gift_horizontal .bx_item_detail_size .bx_size ul li.bx_missing .cnt{border: 1px solid #c0cfda !important}
.bx_item_list_gift_horizontal .bx_item_detail_size .bx_size ul li.bx_missing>i{
    cursor: not-allowed;
    position: absolute;
    display: block;
    top: 0;
    right: 2px;
    bottom: 2px;
    left:2px;
    z-index:11;
    background: rgba(255,255,255,.79) url(images/missing.png) no-repeat center;
}
/*----*/

.bx-no-touch .bx_item_list_gift_horizontal .bx_item_detail_size .bx_slide_left,
.bx-no-touch .bx_item_list_gift_horizontal .bx_item_detail_size .bx_slide_right  		{opacity:0.8}
.bx-no-touch .bx_item_list_gift_horizontal .bx_item_detail_size .bx_slide_left:hover,
.bx-no-touch .bx_item_list_gift_horizontal .bx_item_detail_size .bx_slide_right:hover {opacity:1.0}

.bx_item_list_gift_horizontal .bx_item_detail_size.full .bx_slide_left,
.bx_item_list_gift_horizontal .bx_item_detail_size.full .bx_slide_right{
    position: absolute;
    top: 0;
    bottom:4px;
    width :5%;
    max-width:11px;
    cursor: pointer;
}
.bx-no-touch .bx_item_list_gift_horizontal .bx_item_detail_size .bx_slide_left {left: -5%;background:url(images/arr_left.png)  no-repeat left  center;background-size: 100% auto}
.bx-no-touch .bx_item_list_gift_horizontal .bx_item_detail_size .bx_slide_right{right:-5%;background:url(images/arr_right.png) no-repeat right center;background-size: 100% auto}
.bx-touch 	 .bx_item_list_gift_horizontal .bx_item_detail_size .bx_slide_left {left:   0;background:url(images/fade_left.png)  repeat-y left  center;background-size: 100% auto}
.bx-touch 	 .bx_item_list_gift_horizontal .bx_item_detail_size .bx_slide_right{right:  0;background:url(images/fade_right.png) repeat-y right center;background-size: 100% auto}

/* scu_detail_scu */
.bx_item_list_gift_horizontal .bx_item_detail_scu{
    position: relative;
    margin-bottom: 10px;
    padding: 0;
    max-width: 100%;
    width: 100%;
}
.bx-no-touch .bx_item_list_gift_horizontal .bx_item_detail_scu.full {
    position: relative;
    margin-left: -5%;
    padding: 0 5%
}

/*----*/

.bx_item_list_gift_horizontal .bx_item_detail_scu .bx_item_section_name_gray{
    color: #9e9e9e;
    vertical-align: middle;
    font-size: 13px;
    line-height: 11px;
}

/*----*/

.bx_item_list_gift_horizontal .bx_item_detail_scu .bx_scu_scroller_container{position: relative}

.bx_item_list_gift_horizontal .bx_item_detail_scu .bx_scu{
    position: relative;
    margin: 0;
    width: 100%;
}
.bx-touch 	 .bx_item_list_gift_horizontal .bx_item_detail_scu .bx_scu{overflow-x: auto}

.bx_item_list_gift_horizontal .bx_item_detail_scu .bx_scu ul{
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    white-space: nowrap
}
.bx-touch 	.bx_item_list_gift_horizontal .bx_item_detail_scu .bx_scu ul{margin-left: 0 !important}
.bx_item_list_gift_horizontal .bx_item_detail_scu .bx_scu ul li{
    position: relative;
    display: block;
    float: left;
    height: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bx_item_list_gift_horizontal .bx_item_detail_scu .bx_scu ul li .cnt{
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 2px;
    bottom: 4px;
    left:2px;
    display: block;
    overflow: hidden;
    border: 1px solid #c0cfda;
    background: #fff;
    z-index:10;
}
.bx-touch	.bx_item_list_gift_horizontal .bx_item_detail_scu .bx_scu ul li .cnt{
    border: none;
    border-style: solid;
    border-width: 1px;
    -webkit-border-image: url(images/x2border.png) 2 stretch;
    -moz-border-image: url(images/x2border.png) 2 stretch;
    -o-border-image: url(images/x2border.png) 2 stretch;
    border-image: url(images/x2border.png) 2 fill stretch;
}
.bx_item_list_gift_horizontal .bx_item_detail_scu .bx_scu ul li:hover .cnt{border: 1px solid #006cc0}
.bx_item_list_gift_horizontal .bx_item_detail_scu .bx_scu ul li:active .cnt,
.bx_item_list_gift_horizontal .bx_item_detail_scu .bx_scu ul li.bx_active .cnt{
    padding: 3px;
    border: 2px solid #006cc0;
}
.bx_item_list_gift_horizontal .bx_item_detail_scu .bx_scu ul li.bx_missing .cnt{border: 1px solid #c0cfda !important}
.bx_item_list_gift_horizontal .bx_item_detail_scu .bx_scu ul li.bx_missing>i{
    cursor: not-allowed;
    position: absolute;
    display: block;
    top: 0;
    right: 2px;
    bottom: 4px;
    left: 2px;
    z-index:11;
    background: rgba(255,255,255,.79) url(images/missing.png) no-repeat center;
}

.bx-touch .bx_item_list_gift_horizontal .bx_item_detail_scu .bx_scu ul li.bx_active .cnt{
    border: none;
    border-style: solid;
    border-width: 1px;
    -webkit-border-image: url(images/x2border_active.png) 2 stretch;
    -moz-border-image: url(images/x2border_active.png) 2 stretch;
    -o-border-image: url(images/x2border_active.png) 2 stretch;
    border-image: url(images/x2border_active.png) 2 fill stretch;
}
.bx_item_list_gift_horizontal .bx_item_detail_scu .bx_scu ul li .cnt .cnt_item{
    position: absolute;
    top:   6%;
    right: 6%;
    bottom:6%;
    left:  6%;
    background-size:contain;
    background-repeat: no-repeat;
}
.bx_item_list_gift_horizontal .bx_item_detail_scu .bx_scu ul li .cnt .cnt_item img{
    width: auto;
    height: 25px;
}

/*----*/

.bx-no-touch .bx_item_list_gift_horizontal .bx_item_detail_scu .bx_slide_left,
.bx-no-touch .bx_item_list_gift_horizontal .bx_item_detail_scu .bx_slide_right  	  {opacity:0.8}
.bx-no-touch .bx_item_list_gift_horizontal .bx_item_detail_scu .bx_slide_left:hover,
.bx-no-touch .bx_item_list_gift_horizontal .bx_item_detail_scu .bx_slide_right:hover{opacity:1.0}

.bx_item_list_gift_horizontal .bx_item_detail_scu.full .bx_slide_left,
.bx_item_list_gift_horizontal .bx_item_detail_scu.full .bx_slide_right{
    position: absolute;
    top: 0;
    bottom:4px;
    width :5%;
    max-width:11px;
    cursor: pointer;
}
.bx-no-touch .bx_item_list_gift_horizontal .bx_item_detail_scu .bx_slide_left {left: -5%;background:url(images/arr_left.png)  no-repeat   left  center;background-size: 100% auto}
.bx-no-touch .bx_item_list_gift_horizontal .bx_item_detail_scu .bx_slide_right{right:-5%;background:url(images/arr_right.png) no-repeat   right center;background-size: 100% auto}
.bx-touch 	 .bx_item_list_gift_horizontal .bx_item_detail_scu .bx_slide_left {left:   0;background:url(images/fade_left.png)  repeat-y   left  center;background-size: 100% auto}
.bx-touch 	 .bx_item_list_gift_horizontal .bx_item_detail_scu .bx_slide_right{right:  0;background:url(images/fade_right.png) repeat-y   right center;background-size: 100% auto}

.bx_item_list_gift_horizontal {
    position: relative;
    margin-bottom: 20px;
    border-radius: 3px
}
.bx_item_list_gift_horizontal .bx_item_list_title {
    font-weight: bold;
    color: #000;
    vertical-align: middle;
    height: 38px;
    text-align: left;
    line-height: 38px;
    font-size: 14px;
}

.bxr-ecommerce-gift .bxr-element-container .bxr-element-image{
    line-height: 160px;
    width: 180px;
    height: 160px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}
.bxr-ecommerce-gift .bxr-element-container .bxr-element-image a{
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center;
    position: relative;
    display: block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.bxr-ecommerce-gift .bxr-element-container .bxr-element-action{
    display: none;
}
.bxr-ecommerce-gift .bxr-element-container .bxr-element-action form.bxr-basket-action{
    float:none;
}
.bxr-ecommerce-gift .bxr-element-container .bxr-element-action form.bxr-basket-action button {
    padding: 8px 21px;
}
.bxr-ecommerce-gift:hover .bxr-element-container .bxr-element-action{
    display: inline-block;
}
.bxr-ecommerce-gift .bxr-element-container .bxr-sale-indicator .bxr-basket-group{
    margin-bottom: 5px;
}
.bxr-ecommerce-gift .bxr-element-container input.bxr-quantity-text{
    display: none;
}
.bxr-ecommerce-gift .bxr-color-button-small-only-icon {
    height: 34px;
    width: auto;
    border-radius: 2px;
}
.bxr-ecommerce-gift .bxr-color-button {
    border-radius: 2px;
    display: inline-block;
}
.bxr-ecommerce-gift .bxr-element-container .bxr-color-button-small.bxr-basket-add{
    padding: 6px 10px 7px;
    font-size: 12px;
    font-weight: bold;
}
.bxr-ecommerce-gift .bxr-element-container.bxr-border-color-button:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}