.gearBXR24 {
    font-family: Open Sans, serif
}

.gearBXR24 hr {
    margin: 10px 0 30px;
}


.gearBXR24 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.gearBXR24 a {
    text-decoration: none;
}

.gearBXR24 .gearhead {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    border-radius: 0 4px 4px 0
}

.gearBXR24 .gearhead .head_gear {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 730px;
    height: 60px;
    background-color: #424f60;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: -60px
}

.gearBXR24 .gearhead .fa-magic {
    margin-right: 10px
}

.gearBXR24 .gearhead .title,
.gearBXR24 .gear-box .title {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .1);
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    padding-left: 20px
}

.gearBXR24 .gearhead .btn-def {
    cursor: pointer;
    font-size: 13px;
    border: 1px solid #fff;
    border-radius: 4px;
    margin-right: 18px;
    padding: 8px 31px
}

.gearBXR24 .gearhead .btn-def:hover {
    color: #424f60;
    background-color: #fff
}

.gearBXR24 .gearbuttons {
    position: absolute;
    top: 150px;
    right: -60px;
    width: 60px
}

.gearBXR24 .gearbuttons .btn-gear {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    padding: 13px 0;
    cursor: pointer;
    border-left: 1px solid #6b7582;
    background-color: #424f60;
    border-radius: 0 4px 4px 0;
    margin-bottom: 9px;
    text-align: center;
}

.gearBXR24 .gear .gearbuttons .btn-share,
.gearBXR24 .gear .gearbuttons .btn-document {
    display: none;
}

.gearBXR24 .gear.show .gearbuttons .btn-share,
.gearBXR24 .gear.show .gearbuttons .btn-document {
    display: block;
}

.gearBXR24 .gearbuttons .btn-start:hover {
    background-color: #647287
}

.gearBXR24 .gear-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    overflow-y: auto
}

.gearBXR24 .gear-main > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.gearBXR24 .gear {
    position: fixed;
    left: -730px;
    top: 0;
    -webkit-transition: left ease .2s;
    transition: left ease .2s;
    z-index: 1030;
    height: 100%;
    width: 730px;
    background-color: #647287;
    padding-top: 60px
}

.gearBXR24 .gear .range-box {
    border-radius: 4px;
    border: 1px solid #e7e7e7;
    padding: 20px 15px
}

.gearBXR24 .gear .range-box-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.gearBXR24 .gear .range-box-line p {
    float: left;
    margin: 0
}

.gearBXR24 .gear .range-box-line output {
    min-width: 20px;
    text-align: end
}

.gearBXR24 .gear .template {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: -15px
}

.gearBXR24 .gear .template-box {
    border: 1px solid #c9d0da;
    border-radius: 4px;
    background-color: #fff;
    width: 47%;
    margin: 15px 0;
}

.gearBXR24 .gear .long .template-box {
    width: 100%;
}

.gearBXR24 .gear .template-box.active,
.gearBXR24 .gear .template-box:hover {
    border: 1px solid #e65100;
    cursor: pointer
}

.gearBXR24 .gear .template-box.active .template-descr,
.gearBXR24 .gear .template-box:hover .template-descr {
    background-color: #e65100;
    color: #fff;
    border-top: 1px solid #e65100
}

.gearBXR24 .gear .template-img {
    padding: 15px;
    min-height: 80px;
}

.gearBXR24 .gear .template-img img {
    width: 100%
}

.gearBXR24 .gear .template-descr {
    border: 2px solid transparent;
    border-top: 1px solid #c9d0da;
    padding: 12px 22px
}

.gearBXR24 .gear.show,
.gearBXR24 .gear-share.show,
.gearBXR24 .gear-document.show {
    left: 0;
    -webkit-box-shadow: 40px 2px 160px -12px rgba(0, 0, 0, .5);
    box-shadow: 40px 2px 160px -12px rgba(0, 0, 0, .5)
}

.gearBXR24 .gear-tabs {
    position: fixed;
    display: block !important;
    background-color: #647287;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    width: 187px;
}

.gearBXR24 .gear-img {
    width: 68px;
    height: 68px;
    min-width: 68px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.gearBXR24 .gear-img-sprite {
    width: 28px;
    height: 28px;
    min-width: 28px;
    margin: auto;
    background-position-y: 0 !important

}

.gearBXR24 .gear-tab.active,
.gearBXR24 .gear-tab:hover {
    background-color: #fff;
    color: #647287
}

.gearBXR24 .gear-tab.active .gear-img-sprite,
.gearBXR24 .gear-tab:hover .gear-img-sprite {
    background-position-y: -28px !important
}

.gearBXR24 .gear-img-01 {
    background: url(img/001.png) no-repeat center
}

.gearBXR24 .gear-img-02 {
    background: url(img/002.png) no-repeat center
}

.gearBXR24 .gear-img-03 {
    background: url(img/003.png) no-repeat center
}

.gearBXR24 .gear-img-04 {
    background: url(img/004.png) no-repeat center
}

.gearBXR24 .gear-img-05 {
    background: url(img/005.png) no-repeat center
}

.gearBXR24 .gear-tab {
    cursor: pointer;
    border-bottom: 1px solid rgba(231, 231, 231, .25);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 45px
}

.gearBXR24 .gear-tab.active .gear-img-01,
.gearBXR24 .gear-tab:hover .gear-img-01 {
    background: url(img/001a.png) no-repeat center
}

.gearBXR24 .gear-tab.active .gear-img-02,
.gearBXR24 .gear-tab:hover .gear-img-02 {
    background: url(img/002a.png) no-repeat center
}

.gearBXR24 .gear-tab.active .gear-img-03,
.gearBXR24 .gear-tab:hover .gear-img-03 {
    background: url(img/003a.png) no-repeat center
}

.gearBXR24 .gear-tab.active .gear-img-04,
.gearBXR24 .gear-tab:hover .gear-img-04 {
    background: url(img/004a.png) no-repeat center
}

.gearBXR24 .gear-tab.active .gear-img-05,
.gearBXR24 .gear-tab:hover .gear-img-05 {
    background: url(img/005a.png) no-repeat center
}

.gearBXR24 .gear-content {
    display: block !important;
    width: 545px;
    font-size: 13px;
    font-weight: 600;
    background-color: #fff;
    margin-left: 187px;
}

.gearBXR24 .gear-content .caption-main {
    font-size: 16px;
    color: #647287;
}

.gearBXR24 .gear-block {
    display: none;
    padding: 20px;
    background-color: #fff;
    padding-bottom: 80px;
}

.gearBXR24 .gear-block.active {
    display: block
}

.gearBXR24 .gear-block .element {
    margin-bottom: 22px;
}

.gearBXR24 .gear-block input[type="color"] {
    display: none;
    position: relative;
    top: -5px;
    width: 30px;
    height: 30px;
    border: 0;
    border-radius: 4px
}

.gearBXR24 .gear-block .option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    height: 30px;
    width: 30px;
    -webkit-transition: all .15s ease-out 0s;
    transition: all .15s ease-out 0s;
    border: 0;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    outline: 0;
    margin: 0 2px
}

.gearBXR24 .gear-block .option-input:checked:before {
    height: 30px;
    width: 30px;
    position: absolute;
    content: '\f00c';
    display: inline-block;
    text-align: center;
    font: normal normal normal 12px/1 FontAwesome;
    top: 9px
}

.gearBXR24 .gear-block .option-input:checked:after {
    -webkit-animation: click-wave 1s;
    animation: click-wave 1s;
    background: #40e0d0;
    content: '';
    display: block;
    position: absolute;
    z-index: 100
}

.gearBXR24 .gear-block input[type=range] {
    height: 25px;
    -webkit-appearance: none;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 310px
}

.gearBXR24 .gear-block input[type=range]:focus {
    outline: 0
}

.gearBXR24 .gear-block input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    -webkit-animation: .2s;
    animation: .2s;
    -webkit-box-shadow: 0 0 0 #000;
    box-shadow: 0 0 0 #000;
    background: #D8DFEA;
    border-radius: 3px;
    border: 0 solid #000
}

.gearBXR24 .gear-block input[type=range]::-webkit-slider-thumb {
    -webkit-box-shadow: 0 0 0 #000;
    box-shadow: 0 0 0 #000;
    border: 0 solid #000;
    height: 19px;
    width: 19px;
    border-radius: 4px;
    background: #E65100;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px
}

.gearBXR24 .gear-block input[type=range]:focus::-webkit-slider-runnable-track {
    background: #D8DFEA
}

.gearBXR24 .gear-block input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animation: .2s;
    box-shadow: 0 0 0 #000;
    background: #D8DFEA;
    border-radius: 3px;
    border: 0 solid #000
}

.gearBXR24 .gear-block input[type=range]::-moz-range-thumb {
    box-shadow: 0 0 0 #000;
    border: 0 solid #000;
    height: 19px;
    width: 19px;
    border-radius: 4px;
    background: #E65100;
    cursor: pointer
}

.gearBXR24 .gear-block input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animation: .2s;
    background: transparent;
    border-color: transparent;
    color: transparent
}

.gearBXR24 .gear-block input[type=range]::-ms-fill-lower,
.gearBXR24 .gear-block input[type=range]::-ms-fill-upper {
    background: #D8DFEA;
    border: 0 solid #000;
    border-radius: 6px;
    box-shadow: 0 0 0 #000
}

.gearBXR24 .gear-block input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0 0 0 #000;
    border: 0 solid #000;
    height: 19px;
    width: 19px;
    border-radius: 4px;
    background: #E65100;
    cursor: pointer
}

.gearBXR24 .gear-block input[type=range]:focus::-ms-fill-lower,
.gearBXR24 .gear-block input[type=range]:focus::-ms-fill-upper {
    background: #D8DFEA
}

.gearBXR24 .gear-block .styled-select {
    background: url(img/arrow-bottom.png) no-repeat 100% 0;
    height: 29px;
    overflow: hidden;
    width: 240px
}

.gearBXR24 .gear-block .styled-select select {
    background: transparent;
    border: 0;
    font-size: 14px;
    height: 29px;
    padding: 5px;
    width: 268px
}

.gearBXR24 .gear-block .styled-select.slate {
    height: 34px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #e7e7e7
}

.gearBXR24 .gear-block .styled-select.slate select {
    height: 34px;
    width: 100%;
    border: 0;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    cursor: pointer;
    color: #181818;
    padding-left: 18px;
    font-size: 13px;
    font-weight: 400
}

.gearBXR24 .gear-block .color {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-item-align: center;
    align-self: center;
    margin: 14px 20px 20px 0;
}

.gearBXR24 .checkbox {
    margin: 14px 20px 20px 0;
}

.gearBXR24 .gear-block .text-select {
    margin: 14px 20px 20px -3px;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.gearBXR24 .gear-block .text-select label {
    display: block;
    color: #424f60;
    font-size: 13px;
    font-weight: 700;
    padding: 8px 17px;
    border-radius: 4px;
    border: 1px solid #c9d0da;
    background-color: #fff;
    cursor: pointer;
    margin-bottom: 8px;
}

.gearBXR24 .gear-block .text-select label:hover {
    color: #e65100;
    border: 1px solid #e65100;

}

.gearBXR24 .gear-block .text-select input {
    display: none
}

.gearBXR24 .gear-block .text-select input:checked + label {
    background-color: #e65100;
    border: 1px solid #e65100;
    font-size: 13px;
    color: #fff
}

.gearBXR24 .gear-block .text-select div {
    margin: 0 4px
}

.gearBXR24 .gear-block .img-select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.gearBXR24 .checkbox .switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 26px;
}

.gearBXR24 .checkbox .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.gearBXR24 .checkbox .check_round {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c9d0da;
    -webkit-transition: .4s;
    transition: .4s;
}

.gearBXR24 .checkbox .check_round:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.gearBXR24 .checkbox input:checked + .check_round {
    background-color: #DF4F00;
}

.gearBXR24 .checkbox input:focus + .check_round {
    -webkit-box-shadow: 0 0 1px #c9d0da;
    box-shadow: 0 0 1px #c9d0da;
}

.gearBXR24 .checkbox input:checked + .check_round:before {
    -webkit-transform: translateX(26px);
    transform: translateX(26px);
}

.gearBXR24 .checkbox .check_round {
    border-radius: 34px;
}

.gearBXR24 .checkbox .check_round:before {
    border-radius: 50%;
}


@-webkit-keyframes click-wave {
    0% {
        height: 40px;
        width: 40px;
        opacity: 0.35;
        position: absolute;
    }

    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0
    }
}

@keyframes click-wave {
    0% {
        height: 40px;
        width: 40px;
        opacity: 0.35;
        position: absolute;
    }

    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0
    }
}

.sp-container input[type="text"] {
    background-color: #ffffff;
}

.gearBXR24 .scrollbar-macosx > .scroll-element.scroll-y .scroll-bar {
    border-radius: 5px;
    background-color: #c8d0da;
}

.gearBXR24 .scrollbar-macosx > .scroll-element.scroll-y div.scroll-bar {
    left: -3px;
}

.gearBXR24 .scrollbar-macosx > .scroll-element.scroll-x .scroll-bar {
    display: none;
}

.gearBXR24 .gear-document,
.gearBXR24 .gear-share {
    position: fixed;
    left: -730px;
    top: 0;
    -webkit-transition: left ease .2s;
    transition: left ease .2s;
    z-index: 1050;
    height: 100%;
    width: 730px;
    background-color: #ffffff;
}


.gearBXR24 .gear-box .btn-close-share,
.gearBXR24 .gear-box .btn-close-document {
    cursor: pointer;
    font-size: 13px;
    border: 1px solid #fff;
    border-radius: 4px;
    margin-right: 18px;
    padding: 8px 31px;
    color: #ffffff
}

.gearBXR24 .gear-box .btn-close-share:hover,
.gearBXR24 .gear-box .btn-close-document:hover {
    color: #424f60;
    background-color: #fff
}

.gearBXR24 .gear-box .head_gear {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 730px;
    height: 60px;
    background-color: #424f60;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.gearBXR24 .gear-box .share-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.gearBXR24 .gear-box .share-icon .pluso {
    margin: 0 auto;
    display: block;
}

.pluso-box {
    z-index: 1100 !important;
}

.gearBXR24 .gear-box {
    height: 100%
}


.gearBXR24 .gear-share .gear-box-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 88%;
}

.gearBXR24 .gear-content .gear-box-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 88%;
}

.gearBXR24 .gear-box .share-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-item-align: center;
    align-self: center;
    text-align: center;
    max-width: 430px;
    position: relative;
}

.gearBXR24 .gear-box .share-quote {
    color: #181818;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
}

.gearBXR24 .gear-box .share-description {
    color: #181818;
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;
    margin-bottom: 22px;
    margin-top: 2px;
}

.gearBXR24 .gear-box .share-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 4px;
    border: 1px solid #e9e9e9;
    background-color: #ffffff;
    height: 48px;
    margin-bottom: 42px;
    cursor: pointer;
}


.gearBXR24 .gear-box .share-copylink {
    -ms-flex-item-align: center;
    align-self: center;
    height: 37px;
    width: 48px;
    border-right: 1px solid #e9e9e9;
    line-height: 38px;
    padding: 0 16px;
    color: #67c4d2;
    font-size: 18px;
    font-weight: 400;

}

.gearBXR24 .gear-box .share-copyinput {
    background-color: #ffffff;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -ms-flex-item-align: center;
    align-self: center;
    color: #67c4d2;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

.gearBXR24 .gear-box .gear-box-content {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 60px;
    height: 100%;
}

.gearBXR24 .gear-box .link-box {
    border-radius: 4px;
    border: 1px solid #dce0e5;
    background-color: #ffffff;
    max-width: 445px;
    margin: 10px auto;
    cursor: pointer;

}

.gearBXR24 .gear-box .link-box:hover {
    border: 1px solid #e65100;
}

.gearBXR24 .gear-box .link-box:hover .link-description {
    background-color: #e65100;
    color: #ffffff;
}

.gearBXR24 .gear-box .link-box img {
    max-width: 100%;
    border-radius: 4px 4px 0 0;
}

.gearBXR24 .gear-box .link-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    max-width: 200px;
    margin: 0 auto;
}

.gearBXR24 .gear-box .link-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #4f4f4f;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    min-height: 53px;
}

.gearBXR24 .gear-box .link-icon {
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    color: #7a919c;
    border-radius: 4px;
    border: 1px solid #c9d0da;
    width: 53px;
    height: 53px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

.gearBXR24 .gear-box .link-social a {
    margin: 30px 10px;
}

.gearBXR24 .share-text .copied {
    position: absolute;
    bottom: 105px;
    left: 152px;
}


.gearBXR24 .gear-box .link-icon.vk:hover {
    color: #5781B8;
}

.gearBXR24 .gear-box .link-icon.facebook:hover {
    color: #3E5C98;
}

.gearBXR24 .gear-box .link-icon.twitter:hover {
    color: #64CBFF;
}

.gearBXR24 .gear-box .link-icon.youtube:hover {
    color: #ff0000;
}


@media (max-width: 960px) {
    .gearBXR24 {
        display: none;
    }
}

@media screen and (max-device-width: 767px) {
    .gear {
        display: none
    }
}

@media screen and (max-height: 767px) {
    .gearBXR24 .gear-tabs {
        position: static;

    }

    .gearBXR24 .gear-content {
        margin-left: 0;
    }
}
