.actions-random { 
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    border: 1px solid #f6f6f6;
}

.actions-random img{
    width:  100%;
    height: 100%;
}

.actions-random .action-random-name {
    padding: 0 10px;
    margin: 5px 0;
    text-align: center;
}