#bxr-basket-row{
    width: 100%;
    font-size: 13px;
    font-weight: 300;
}

#bxr-basket-row a,  #bxr-basket-row a:hover, #bxr-basket-row a:visited, #bxr-basket-row a:active{
    text-decoration: none;
}

#bxr-basket-row a.bxr-basket-indicator{
    color: #414141;
}

.bxr-basket-indicator i{
    font-size: 16px;
    font-weight: normal;
    margin-right: 4px;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
}

.bxr-basket-indicator i:hover{
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 1);;
}

.bxr-indicator-item-active, .bxr-counter-active{
    background: #F00;
}

.basket-body-container .bxr-helper{
    margin: 0 15px;
}

#bxr-basket-row > div{
    float: right;
    position: relative;
    border-left: 1px solid #FFF;
    padding: 8px 0 7px 15px;
    margin-left: 15px;
}

.basket-body-container .basket-body-title{
    margin: 0px 20px 20px;
}
.basket-body-container .basket-body-title .bxr-color-button{
    margin: -5px 0 10px 30px;
}

.basket-body-container .basket-body-title .gray-line{
    font-size: 16px;
    color: #555;
}

.basket-body-container .basket-body-title-h{
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    padding-top: 0px;
    color: #414141;
    margin-right: 20px;
}
.basket-body-container .basket-body-title-h i{
    font-size: 20px;
    font-weight: normal;
    margin-right: 5px;
}

.basket-body-title-h span.bxr-basket-cnt {
    font-size: 15px;
    font-weight: normal;
    line-height: 17px;
}

.basket-body-container table{
    margin-bottom: 20px;
}

.basket-body-container table th{
    background: #f6f6f7;
    padding: 12px 5px;
    text-align: left;
    font-size: 13px;
}

.basket-body-container table td{
    padding: 10px 5px;
    text-align: left;
    vertical-align: middle;
}

.basket-body-container  table th.first, .basket-body-container table td.first{
    padding-left: 20px;
}

.basket-body-container table td.last{
    text-align: right;
    padding-right: 20px;
}

.basket-body-container table td{
    border-bottom: 1px solid #EEE;
}

.basket-body-container table td.basket-price, .basket-body-container table td.basket-summ{
    font-size: 14px; font-weight: bold;
    width: 110px;
    max-width: 110px;
}

.basket-body-container table td.basket-action{
    max-width: 120px;
    width: 120px;
    text-align: right;
}

.basket-body-container table td.basket-line-qty{
    max-width: 92px;
    width: 92px;
}

.basket-body-container table td a{
    color: #414141;
}

#bxr-delay-body
,#bxr-basket-body
,#bxr-compare-body
, #bxr-favor-body {
    position: absolute;
    color: #222;
    padding: 20px 0 15px;
    min-width: 690px;
    right: -28px;
    top: 36px;
    display: none;
    z-index: 999;
    background: #FEFEFE;
    border: 1px solid #f6f6f6;;
    border: 1px solid #CCC;
    border-top: 4px solid #CCC;
    -webkit-box-shadow: 0px 15px 30px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    0px 15px 30px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         0px 15px 30px 0px rgba(50, 50, 50, 0.2);
    z-index: 1040;
}

#bxr-delay-body{
    min-width: 500px;
}

#bxr-compare-body{
    min-width: 420px;
}

#bxr-basket-popup{
    padding: 15px;
}

#bxr-delay-body:before
, #bxr-basket-body:before
, #bxr-compare-body:before
, #bxr-favor-body:before{
    content: '';
    position: absolute;
    right: 40px;
    top: -14px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #CCC;
}

#basket-popup-product-image, #basket-popup-product-name, #basket-popup-buttons{
    text-align: center;
}

#basket-popup-product-image > img {
    max-width:360px;
    max-height: 360px;
}

#basket-popup-product-name{
    font-size: 16px;
    font-weight: bold;
    padding: 15px 0;
}

#basket-popup-buttons a{
    margin-left: 15px;
}

/**************mobile basket*****************/

#bxr-basket-body-mobile, #bxr-delay-body-mobile, #bxr-favor-body-mobile{
    display: none;
}

#bxr-mobile-content{
    position: relative;
}

.bxr-counter-mobile{
    font-size: 24px;
    padding: 8px;
    position: relative;
    z-index: 300;
    background: #e5e9ea;
    display: inline-block;
    min-width: 52px;
    text-align: center;
    cursor: pointer;
    margin-left: 30px;
    float: right;
}

.bxr-counter-mobile > span{
    position: absolute;
    display: none;
    right: -10px;
    top: -12px;
    font-family: Arial;
    font-size: 14px;
    min-width: 28px;
    min-height: 28px;
    border-radius: 28px;
    border: 2px solid #FFF;
    text-align: center;
    padding: 2px 3px;
    z-index: 320;
    background: #FFF;
}

.bxr-counter-mobile > span.bxr-counter-active{
    display: block;
}

#bxr-basket-mobile-container, #bxr-favor-mobile-container{
    display: none;
    position: absolute;
    z-index: 999;
    top: 58px;
    right: 0;
    background: #F9F9F9;
    -webkit-box-shadow: 0px 15px 30px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    0px 15px 30px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         0px 15px 30px 0px rgba(50, 50, 50, 0.2);
}



@media (max-width: 479px) {
    .bxr-counter-mobile{
        font-size: 16px;
        padding: 8px;
        min-width: 40px;
        margin-left: 18px;;
    }

    .bxr-counter-mobile > span{
        right: -14px;
        top: -16px;
        font-size: 14px;
        min-width: 30px;
        min-height: 30px;
        border-radius: 32px;
        padding: 3px;
    }


}

.basket-body-container .basket-body-title-h.bxr-basket-tab {
    font-size: 17px;
    margin-right: 10px;
    cursor: pointer;
}

.bxr-basket-tab-content {
    display: none;
}

.bxr-basket-tab-content.active {
    display: block;
}

#bxr-favor-mobile-container .basket-image a {
    width: 54px;
    height: 54px;
    display: block;
    margin: 0;
}

#bxr-basket-mobile .basket-body-title-h.bxr-basket-tab {
    cursor: pointer;
    color: #414141;
}

#bxr-basket-mobile .basket-body-title-h {
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
    padding-top: 0px;
    color: #fff;
    float: left;
    margin-right: 20px;
    padding: 4px;
}

#bxr-basket-mobile .basket-body-title-h.active {
    color: #fff;
}

#bxr-basket-mobile .basket-body-title-h span.bxr-basket-cnt {
    font-size: 11px;   
}

.basket-body-table {
    margin-bottom: 20px;
}

.basket-action-row .bxr-basket-action {
    float: left;
    margin-left: 10px;
}

.basket-action-row .bxr-basket-add {
    margin: 0 0 0 10px;
    padding: 5px 7px;
    color: #414141;
}

#bxr-favor-mobile-container .basket-action-row .bxr-basket-add {
    padding: 4px 6px;
}

.bxr-basket-favor-delete {
    font-size: 14px;
    padding: 4px 7px;
    color: #AA0000;
}

.basket-action-row .bxr-indicator-item-active {
    color: #414141;
}
/****************************************************************************************************************/
/**************************************************POPUP_UPDATE*************************************************/
/**************************************************************************************************************/
div.popup-window.popup-window-with-titlebar {
    padding: 0;
    border-radius: 6px;
}
div.popup-window.popup-window-with-titlebar .popup-window-titlebar {
    height: 42px;
    background: #59626a;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
div.popup-window.popup-window-with-titlebar .popup-window-titlebar div{
    height: 42px;
    line-height: 42px;
    padding-left: 16px;
    font-size: 16px;
    font-family: "Open Sans";
    color: #fff;    
}
div.popup-window.popup-window-with-titlebar .popup-window-content {
    padding: 0;
    background: transparent;
    width:      600px;
}
div.popup-window.popup-window-with-titlebar .popup-window-close-icon.popup-window-titlebar-close-icon{
    width: 18px;
    height: 18px;
}
/****************************************************************************************************************/
/**************************************************POPUP_UPDATE*************************************************/
/**************************************************************************************************************/
.min-order-price-notify {
    border: 1px solid rgba(255, 20, 0, 0.13);
    border-radius: 4px;
    padding: 20px;
    margin: 20px;
    margin-bottom: 20px;
    background: #f2dede;
    color: #a94442;
}

.bxr-color-button.bxr-add-order {
    border: 1px solid;
}

.bxr-mobile-all-summ {
    color: #fff;
    margin-right: 10px;
    line-height: 32px;
}

@media (max-width: 767px) {
    .min-order-price-notify {
        margin: 0px;
        margin-bottom: 10px;
    }

    #basket-popup-buttons a {
        display: inline-block;
        margin-left: 0;
    }
    
    .bx-touch #basketPopup a.bxr-color-button {
        display:inline-block;
    }
}

.bxr-bsmall-prop {
    color: #b4b4b4;
}

/*******CUSTOM.STYLE.GIO*******/

@media (max-width: 980px) {
    .bxr-counter-mobile {
        display: none;
    }
}

.bxr-v-autosize {
    text-align: center;
}

.row.headline .bxr-top-line-phones {
    text-align:    center;
    margin-bottom: 10px;
}

.bxr-logo img {
    margin-bottom: 10px;
}

@media (min-width: 992px) {
   .row.headline  .bxr-top-line-phones {
        display: none;
    }
}

